box-shadow()
	-webkit-box-shadow: arguments
	-moz-box-shadow: arguments
	-o-box-shadow: arguments
	-ms-box-shadow: arguments
	box-shadow: arguments
transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	-ms-transition: arguments
	transition: arguments
user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-o-user-select: arguments
	-ms-user-select: arguments
	user-select: arguments

.hidden
	display: none

.pm-plugin
	width: 300px
	border: 1px solid #d8d8d8
	border-radius: 5px
	.pm-plugin-title
		padding: 18px 12px 18px 60px
		font-size: 20px
		font-weight: 700
		position: relative
		.logo
			position: absolute
			left: 16px
			width: 30px
			height: 30px
			vertical-align: bottom
	.pm-plugin-content
		padding: 10px
		background-color: #f4f6f7
	.pm-plugin-footer
		padding: 10px
		background-color: #f4f6f7

	pre
		display: block
		padding: 10px 0px
		margin: 0 0 10px
		font-size: 13px
		line-height: initial
		color: initial
		word-break: break-all
		word-wrap: break-word
		background-color: initial
		border: none
		border-radius: initial


.pm-input-group
	margin-bottom: 10px
	label
		color: #555555
		display: inline-block
		max-width: 100%
		margin-bottom: 5px
		font-weight: 700

.pm-input-control
	display: block
	width: 100%
	height: 34px
	padding: 6px 12px
	font-size: 14px
	line-height: 1.42857143
	color: #555
	background-color: #fff
	background-image: none
	border: 1px solid #dfe5e8
	border-radius: 2px
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s

.pm-btn
	position: relative
	display: inline-block
	padding: 6px 12px
	margin-bottom: 0
	font-size: 14px
	font-weight: 300
	line-height: 1.42857143
	text-align: center
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	border: 1px solid transparent
	border-radius: 4px
	text-decoration: none
	font-size: 14px

	&:hover
		color: white
		text-decoration: none
		opacity: 0.8
	&.sparse
		margin-right: 10px
	&.pm-btn-wide
		padding: 10px 40px
	&.pm-btn-blue
		background-color: #00bcd4
		border-color: white
		color: white
		&:hover
			background-color: #3c3950
	&.pm-btn-social
		background-color: white
		font-size: 16px
		font-weight: 400
		line-height: 28px;
		padding-left: 46px
		img
			width: 28px
			position: absolute
			left: 12px
		&.facebook
			color: #3b5998
		&.line
			color: #00c402

.pm-plugin-message
	margin-top: 16px
	padding: 10px
	border: 1px solid #e8e8e8
	border-radius: 3px
	max-height: 250px
	overflow: scroll
	background-color: white
	.pm-plugin-message-title
		font-size: 16px
		font-weight: bold
		color: #555555

.pm-plugin-panel
	.pm-plugin-panel-heading
		padding: 5px 10px
		font-size: 22px
		border-bottom: 1px solid #f4f6f7
		color: #535353
		font-weight: 200
	.pm-plugin-panel-body
		padding: 10px


.ta-center
	text-align: center
