box-shadow()
	-webkit-box-shadow: arguments
	-moz-box-shadow: arguments
	-o-box-shadow: arguments
	-ms-box-shadow: arguments
	box-shadow: arguments
transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	-ms-transition: arguments
	transition: arguments
user-select()
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-o-user-select: arguments
	-ms-user-select: arguments
	user-select: arguments


.pm-plugin
	width: 400px
	border: 1px solid #d8d8d8
	border-radius: 5px
	.pm-plugin-title
		padding: 5px 10px
		font-size: 20px
		font-weight: 700
	.pm-plugin-content
		padding: 10px
	.pm-plugin-footer
		padding: 10px

.pm-input-group
	margin-bottom: 10px
	label
		display: inline-block
		max-width: 100%
		margin-bottom: 5px
		font-weight: 700

.pm-input-control
	display: block
	width: 100%
	height: 34px
	padding: 6px 12px
	font-size: 14px
	line-height: 1.42857143
	color: #555
	background-color: #fff
	background-image: none
	border: 1px solid #ccc
	border-radius: 4px
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s

.pm-btn
	display: inline-block
	padding: 6px 12px
	margin-bottom: 0
	font-size: 14px
	font-weight: 400
	line-height: 1.42857143
	text-align: center
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background-image: none
	border: 1px solid transparent
	border-radius: 4px

	&:hover
		opacity: 0.8
.pm-btn-blue
	background-color: #30a5ff
	border-color: #30a5ff
	color: white
